{% extends 'base.html' %}
{% load djboard_filter %}  <!--사용자 필터 추가  --> 
{% block content %}

{% comment %} {% load static %} {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> {% endcomment %}
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> {% endcomment %}
{% comment %} 
{% if question_list %}
    <ul>
    {% for question in question_list %} {% endcomment %}
        {% comment %} <li><a href="/djboard/{{ question.id }}/">{{ question.subject }}</a></li> {% endcomment %}
        {% comment %} <li><a href="{% url 'djboard:detail' question.id %}">{{ question.subject }}</a></li> {% endcomment %}
    {% comment %} {% endfor %}
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %} {% endcomment %}


<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a href="{% url 'djboard:question_create' %}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center table-secondary">
                <th>번호</th>
                {% comment %} <th>번호체크</th> {% endcomment %}
                <th style="width: 50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr class="text-center">
                {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                <td>
                    <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                {% comment %} <td>{{question_list.paginator.count}} - {{question_list.start_index}} - {{forloop.counter}} + 1</td> {% endcomment %}
                <td class="text-start">
                    <a href="{% url 'djboard:detail' question.id %}">{{question.subject}}</a>
                    {% if question.answer_set.count > 0 %}
                    <span class="text-danger small mx-2">{{question.answer_set.count}}</span>
                    {% endif %}
                </td>
                <td>{{question.author.username}}</td>
                <td>{{question.create_date}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        {% if question_list.has_previous %}
        <li class="page-item">
            {% comment %} <a href="?page={{question_list.previous_page_number}}" class="page-link">이전</a> {% endcomment %}
            <a href="#" class="page-link" data-page="{{question_list.previous_page_number}}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        {% endif %}
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            {% comment %} <a href="?page={{page_number}}" class="page-link">{{page_number}}</a> {% endcomment %}
            <a href="#" class="page-link" data-page="{{page_number}}">{{page_number}}</a>   
        </li>
        {% else %}
        <li class="page-page-item">
            {% comment %} <a href="?page={{page_number}}" class="page-link">{{page_number}}</a> {% endcomment %}
              <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if question_list.has_next %}
        <li class="page-item">
            {% comment %} <a href="?page={{question_list.next_page_number}}" class="page-link">다음</a> {% endcomment %}
            <a href="#" class="page-link" data-page="{{question_list.next_page_number}}">다음</a>   
        </li>
        {% else %}
        <li>
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true">다음</a>
        </li>
        {% endif %}
    </ul>
    
    <!-- 페이징처리 끝 -->
    {% comment %} <a href="{% url 'djboard:question_create' %}" class="btn btn-primary">질문 등록하기</a> {% endcomment %}
</div>
<form action="{% url 'index' %}" id="searchForm" method="get">
    <input type="hidden" name="kw" id="kw" value="{{kw|default_if_none:''}}">
    <input type="hidden" name="page" id="page" value="{{page}}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 1;  
        document.getElementById('searchForm').submit();
    });
</script>
{% endblock script %}